*.json

# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
totepai-edd0f-firebase-adminsdk-fbsvc-ed3ff085c2.json
totepai_venv/

# Ignore IDE settings
.vscode/
.idea/

__pycache__/
*.pyc
venv/
